.heading{
    text-align: center;
    margin: 10px;
}
table{
    text-align: center;
}
button{
    margin: 20px 5px;
    padding: 10px;
}
.container{
    text-align: center;
}
body{
    text-align: center;
}